nodered
[
    {
        "id": "e6d0a1def6813797",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bc2de151b3b43c58",
        "type": "oracledb",
        "z": "e6d0a1def6813797",
        "name": "",
        "usequery": true,
        "query": "SELECT SYSDATE FROM DUAL",
        "usemappings": false,
        "mappings": "",
        "server": "eeba0f0da3826064",
        "resultaction": "multi",
        "resultlimit": 100,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "5999863f7e5152ab"
            ]
        ]
    },
    {
        "id": "5999863f7e5152ab",
        "type": "debug",
        "z": "e6d0a1def6813797",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "41bb86b9bd8a8e3a",
        "type": "inject",
        "z": "e6d0a1def6813797",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "bc2de151b3b43c58"
            ]
        ]
    },
    {
        "id": "eeba0f0da3826064",
        "type": "oracle-server",
        "connectionname": "free",
        "tnsname": "FREE",
        "connectiontype": "TNS Name",
        "instantclientpath": "/opt/oracle/product/23c/dbhomeFree/instantclient",
        "host": "",
        "port": "",
        "reconnect": true,
        "reconnecttimeout": "1000",
        "db": ""
    }
]